@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

body {
    font-family: 'Skranji', cursive;
    margin: 0px;
    background-image: url(/assets/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    /* background: #171717;  
    background: -webkit-linear-gradient(to right, #444444, #171717);  
    background: linear-gradient(to right, #444444, #171717);  */
}

button {
    font-family: 'Skranji', cursive;
}

button:hover {
    opacity: 0.8;
}

#select-character {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ededed;
    font-size: 32px;
}

.caption {
    color: #ededed;
    font-size: 20px;
}

#cards {
    max-width: 1150px;
    overflow-x: scroll;
    white-space: nowrap;
}

#cards::-webkit-scrollbar {
    display: none;
}

.mired-card {
    display: flex;
    list-style: none;
}

.mired-card .cards-container {
    width: 200px;
    height: 400px;
    margin: 0 15px;
}

.mired-card .label-container-cards {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    opacity: 0.8;
}

.mired-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 140px;
    background: #ededed;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 2em;
    margin: 0;
}

.mired-card img {
    width: auto;
    height: 200px;
    position: relative;
    transform: translateY(26%);
}

input {
    display: none;
}

input:checked + label > p {
    background-color: #da0037;
}

input:checked + .label-container-cards {
    opacity: 1;
}

.mired-card .label-container-cards:hover {
    opacity: 1;
    transform: scale(1.2) translate(10%, -8%);
    margin: 0 100px;
    transition: transform 0.2s ease-in-out;
    filter: contrast(120%);
    cursor: grab;
}

#button-character {
    background-color: #da0037;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: #ededed;
    border: transparent;
    font-size: 25px;
}

#select-power {
    grid-template-rows: minmax(100px, 1fr) 3fr minmax(100px, 1fr);
    width: 100vw;
    height: 100vh;
}

#character-info {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(50px, 0.3fr) minmax(
            100px,
            1fr
        );
    grid-template-rows: minmax(100px, 1fr);
    grid-area: 1;
}

#label-character-player {
    width: 100%;
    height: 100%;
    grid-area: 1;
}

#button-restart {
    place-self: center;
    width: 40%;
    height: 30%;
    grid-area: 1 / 2;
    background-color: #da0037;
    color: #ededed;
    border-radius: 15px;
    border-style: solid unset;
    border-width: 4px;
    border-color: #171717;
}

#label-character-enemy {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    grid-area: 1 / 3;
}

#character-name-enemy {
    align-items: flex-end;
}

.label-character {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.character-photo {
    width: 23%;
    height: 100%;
}

.character-photo > img {
    margin-left: 20px;
    margin-top: 10px;
    width: 120px;
    height: auto;
}

.character-photo .character-img {
    transform: scale(0.6) translateY(-210%);
}

.character-name {
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 100%;
}

.character-name p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 60%;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 10px 0px 2px;
    border-radius: 20px;
    background-color: #444444;
    color: #ededed;
    font-size: 30px;
}

.character-name label {
    display: flex;
    gap: 10px;
}

.character-name label img {
    width: 18px;
}

.character-name .bar-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color: #ededed;
    border-radius: 20px;
}

.bar-container .fill-life {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 3px;
    background-color: #da0037;
}

#character-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    grid-area: 2;
    width: 100%;
    height: 100%;
}

#character-display > img {
    width: 40%;
    height: auto;
}

#character-display-player {
    grid-area: 1 / 1 / 2 / 2;
}

#character-display-enemy {
    grid-area: 1 / 2 / 2 / 3;
}

#powers-container {
    grid-area: 3;
    place-items: center;
    width: 100%;
    height: 100%;
}

.button-powers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-power {
    box-sizing: border-box;
    width: 15%;
    height: 40%;
    padding: 0px;
    border-radius: 20px;
    border: transparent;
    color: #171717;
    font-size: 20px;
    text-align: center;
}

#button-pyro {
    background: linear-gradient(to bottom, #ff7900, #ff2200, #ff7900);
}

#button-hydro {
    background: linear-gradient(to bottom, #5aa4e0, #0fdcf3, #0fdcf3, #0fdcf3);
}

#button-geo {
    background: linear-gradient(to bottom, #c1a57b, #d9c9a4, #f1e8cd);
}

#button-cryo {
    background: linear-gradient(to bottom, #b3e8f4, #d1eef2, #ffffff);
}

#button-electro {
    background: linear-gradient(to bottom, #bb56f1, #9425e4, #bb56f1);
}

#button-melee {
    background: linear-gradient(to bottom, #b3b3b3, #ffffff, #b3b3b3);
}

#button-defense {
    background: linear-gradient(to bottom, #babd00, #eca200, #babd00);
}

#see-map {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    border: 2px solid white;
}

#move-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    width: 180px;
    height: 100px;
}

#move-buttons button {
    width: 100%;
    height: auto;
    background-color: #171717;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
    border: 0;
}

#button-move-up {
    grid-area: 1 / 2;
    background-image: url('/assets/buttonUp.png');
}

#button-move-left {
    grid-area: 2 / 1;
    background-image: url('/assets/buttonLeft.png');
}

#button-move-down {
    grid-area: 2 / 2;
    background-image: url('/assets/buttonDown.png');
}

#button-move-right {
    grid-area: 2 / 3;
    background-image: url('/assets/buttonRight.png');
}

/* @media (max-width: 420px) {
    #cards {
        max-width: 400px;
    }
} */
