@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

body {
    font-family: 'Skranji', cursive;
    margin: 0;
    background-image: url(/assets/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    /* background: #171717;  
    background: -webkit-linear-gradient(to right, #444444, #171717);  
    background: linear-gradient(to right, #444444, #171717);  */
}

#select-character {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ededed;
    font-size: 32px;
}

.caption {
    color: #ededed;
    font-size: 20px;
}

#cards {
    max-width: 1150px;
    overflow-x: scroll;
    white-space: nowrap;
}

.mired-card {
    display: flex;
    list-style: none;
}

.mired-card .cards-container {
    width: 280px;
    height: 500px;
    margin: 0 15px;
}

.mired-card .label-container-cards {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 180px;
    background: #ededed;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 40px;
    margin: 0;
}

.mired-card img {
    width: auto;
    height: 300px;
    position: relative;
    transform: translateY(26%);
}

#button-character {
    background-color: #da0037;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: #ededed;
    border: transparent;
    font-size: 25px;
}

button {
    font-family: 'Skranji', cursive;
}

input {
    display: none;
}

#select-power {
    flex-direction: column;
    align-items: center;
}

.button-power {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    border: transparent;
    color: #171717;
    font-size: 20px;
}

#button-pyro {
    background: linear-gradient(to bottom, #ff7900, #ff2200, #ff7900);
}

#button-hydro {
    background: linear-gradient(to bottom, #5aa4e0, #0fdcf3, #0fdcf3, #0fdcf3);
}

#button-geo {
    background: linear-gradient(to bottom, #c1a57b, #d9c9a4, #f1e8cd);
}

#button-cryo {
    background: linear-gradient(to bottom, #b3e8f4, #d1eef2, #ffffff);
}

#button-electro {
    background: linear-gradient(to bottom, #bb56f1, #9425e4, #bb56f1);
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 80px;
    background: #ededed;
    border-radius: 20px;
}

#button-restart {
    border: none;
    color: #444444;
}

.messages-attacks {
    display: grid;
    grid-template-columns: 100px 100px;
}

@media (max-width: 400) {
    .mired-card {
        flex-direction: column;
    }
}
