@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

body {
    font-family: 'Skranji', cursive;
    margin: 0px;
    background-image: url(/assets/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    /* background: #171717;  
    background: -webkit-linear-gradient(to right, #444444, #171717);  
    background: linear-gradient(to right, #444444, #171717);  */
}

button {
    font-family: 'Skranji', cursive;
}

button:hover {
    opacity: 0.8;
}

#select-character {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #ededed;
    font-size: 32px;
}

.caption {
    color: #ededed;
    font-size: 20px;
}

#cards {
    max-width: 1150px;
    overflow-x: scroll;
    white-space: nowrap;
}

#cards::-webkit-scrollbar {
    display: none;
}

.mired-card {
    display: flex;
    list-style: none;
}

.mired-card .cards-container {
    width: 200px;
    height: 400px;
    margin: 0 15px;
}

.mired-card .label-container-cards {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    opacity: 0.8;
}

.mired-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 140px;
    background: #ededed;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 2em;
    margin: 0;
}

.mired-card img {
    width: auto;
    height: 200px;
    position: relative;
    transform: translateY(26%);
}

input {
    display: none;
}

input:checked + label > p {
    background-color: #da0037;
}

input:checked + .label-container-cards {
    opacity: 1;
}

.mired-card .label-container-cards:hover {
    opacity: 1;
    transform: scale(1.2) translate(10%, -8%);
    margin: 0 100px;
    transition: transform 0.2s ease-in-out;
    filter: contrast(120%);
    cursor: grab;
}

#button-character {
    background-color: #da0037;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    color: #ededed;
    border: transparent;
    font-size: 25px;
}

#select-power {
    grid-template-rows: minmax(100px, 1fr) 3fr minmax(100px, 1fr);
    width: 100vw;
    height: 100vh;
}

#character-info {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(50px, 0.3fr) minmax(
            100px,
            1fr
        );
    grid-template-rows: minmax(100px, 1fr);
    grid-area: 1;
}

#label-character-player {
    width: 100%;
    height: 100%;
    grid-area: 1;
}

#button-restart {
    width: 100%;
    height: 100%;
    grid-area: 1 / 2;
    background-color: #c1a57b;
}

#label-character-enemy {
    width: 100%;
    height: 100%;
    grid-area: 1 / 3;
}

.label-character {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.character-photo {
    width: 23%;
    height: 100%;
}

.character-photo > img {
    margin-left: 20px;
    margin-top: 10px;
    width: 120px;
    height: auto;
}

.character-photo .character-img {
    transform: scale(0.6) translateY(-210%);
}

.character-name {
    display: flex;
    flex-direction: column;
    width: 77%;
    height: 100%;
}

.character-name p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 60%;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 10px 0px 2px;
    border-radius: 20px;    
    background-color: #444444;
    color: #ededed;
    font-size: 30px;
}

.character-name label img {
    width: 18px;
}

.character-name .bar-container {
    display: flex;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color: #ededed;
    border-radius: 20px;
}

.bar-container .fill-life{    
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 3px;
    background-color: #da0037;
} 

#character-display {
    grid-area: 2;
    /* background-color: #9425e4; */
}

#powers-container {
    grid-area: 3;
    /* background-color: #b3e8f4; */
}

.button-power {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    border: transparent;
    color: #171717;
    font-size: 20px;
}

#button-pyro {
    background: linear-gradient(to bottom, #ff7900, #ff2200, #ff7900);
}

#button-hydro {
    background: linear-gradient(to bottom, #5aa4e0, #0fdcf3, #0fdcf3, #0fdcf3);
}

#button-geo {
    background: linear-gradient(to bottom, #c1a57b, #d9c9a4, #f1e8cd);
}

#button-cryo {
    background: linear-gradient(to bottom, #b3e8f4, #d1eef2, #ffffff);
}

#button-electro {
    background: linear-gradient(to bottom, #bb56f1, #9425e4, #bb56f1);
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 80px;
    background: #444444;
    border-radius: 20px;
    color: #ededed;
}

#button-restart {
    border: none;
    color: #444444;
}

.messages-attacks {
    display: grid;
    grid-template-columns: 100px 100px;
    margin: 15px;
    gap: 15px;
}

#lives-player,
#lives-enemy {
    font-size: 32px;
    margin-bottom: 0;
}

.attacks-enemy,
.attacks-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444444;
    color: #ededed;
    border-radius: 20px;
}

#see-map {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    border: 2px solid white;
}

@media (max-width: 420px) {
    #cards {
        max-width: 400px;
    }

    .button-power {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
}
